#view-highscore {
    height: auto;
    float: left;
    display: contents;
}

#time-remain {
    height: 50px;
    width: 100%;
}

#bold-header {
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100px;
    width: 100%;
}